<footer>
    <p>Tiago Carmo 2021-2023 | Most content is licensed under <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND 4.0</a>
    </p>
    <p>Built using 11ty and procrastination, hosted on GitHub and deployed to Neocities.
    </footer>