<img src="{{ params.src }}" class="img__pos img__{{ params.position }} {% if params.extra %}img__{{params.extras}}{% endif %}">
{% if params.label %}<em class="img__label img__label__{{params.position}}"> {{ params.label }}</em>{% endif %}