:root {
  --bg: #fdfdfd;
  --text-color: #383f46;
  --text-color-strong: #1e262d;
  --container-bg: #f1f3f5;
  --container-border: #e9ecef;
  --container-subtle: #ebebeb8f;
  --info: rgb(206, 235, 255);
  --warning: rgb(255, 239, 206);
  --content-breakpoint: 750px;
  --font-sans: "GeneralSans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-mono: Menlo, Consolas, Monaco, "Liberation Mono", Lucida Console, monospace;
}

html {
  background: var(--bg);
}

body {
  margin: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  text-rendering: optimizeSpeed;
  font-display: swap;
  font-family: var(--font-sans);
  color: var(--text-color);

}

a {
  color: var(--text-color);
  text-decoration-thickness: .15rem;
  transition: all ease-in-out 150ms;
}

a:hover {
  color: var(--text-color-strong);
  background: var(--container-subtle);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: var(--text-color-strong);
  margin: 1em 0;
}

p {
  margin-top: 1em;
}

hr {
  border: 0;
  border-bottom: 2px dashed var(--accent);
}

header,
main,
footer {
  max-width: var(--content-breakpoint);
  margin: 0 auto;
  overflow: hidden;
padding:0 1rem;
}

header,
footer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

header {
  margin-top: 2.5rem;
  padding: 1rem;
  border-bottom: 2px dashed var(--container-border);
}

header *,
.post--meta *,
.post--card *,
footer * {
  margin: 0;
  padding: 0;
}

time {
  opacity: 0.8;
}

code {
  font: inherit;
  padding: 0 0.5rem;
  font-family: var(--font-mono);
  background: var(--container-bg);
}

.header--title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  font-family: 'Times New Roman', Times, serif;
  border: 0.15em solid var(--text-color);
  font-size: 1.5em;
  width: 2.15em;
  height: 2.15em;
  font-weight: 600;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  user-select: none;
}

.nav--list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
}

.nav__list__link {
  color: var(--text-color);
  opacity: 0.65;
  display: inline-block;
  padding: 0.35rem;
  font-weight: 600;
  text-decoration: none;
}

.nav__list__link:hover,
.nav__list__link[aria-current="page"] {
  opacity: 1;
  color: var(--text-color-strong);
}

.home--grid {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
}

.home--grid article * {
  padding: 0;
}

.home--grid article>h3 {
  margin: 0.5rem 0;
}

.flex--wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.post--listing {
  display: flex;
  gap: 1rem; 
  flex-direction: column;
  padding: 0;
}

.post--card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 0.5rem;
  border: 3px dashed var(--container-border);
}

.post--card:hover {
  border-color: var(--text-color);
}

.post--meta {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem 0;
  margin-bottom: 1rem;
  text-align: center;
  border-bottom: 2px solid var(--container-border);
}

.post--meta h1 {
  font-size: 2em;
}

.post--meta time {
  margin-bottom: 1rem;
  font-size: 0.9em;
  opacity: 0.75;
}

.post--meta .excerpt {
  font-weight: 300;
  font-size: 1.15em;
}

main p:last-child {
  margin-bottom: 1rem;
}

footer {
  padding: 1rem;
  border-top: 2px dashed var(--container-border);
  text-align: center;
}

details {
  display: flex;
  align-items: center;
  border: 3px dashed var(--text-color-strong);
  padding: 0.5em 0.5em 0;
  margin-bottom: 1rem;
}

summary {
  font-weight: 600;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 3px dashed var(--text-color-strong);
  margin-bottom: 0.5em;
}


/* Components Styling */
.img__pos {
  width: 25%;
}

.img__left {
  float: left;
  margin-right: 1em;
}
.img__center {
  width: 35%;
  margin: 0 auto;
  margin-top: 1rem;
}

.img__right {
  float: right;
  margin-left: 1em;
}

.img__label {
  padding-block: 0.25em;
  font-size: 0.9em;
  opacity: 0.8;
}

.img__label__left {
  float: left;
}

.img__label__center {
  display: block;
  text-align: center;
}

.img__label__right {
  text-align: right;
}


.img__shadow {
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.25));
}


/* taken from kevq.uk */
.notice--box {
  margin-top: 1rem;
border: 3px dashed var(--text-color-strong);
  padding: 1rem;
}


.notice--box::before {
  content: '';
  display: block;
  width: max-content;
  position: relative;
  border-right: inherit;
  border-bottom: inherit;
  font-size: 1.1em;
  left: -1rem;
  top: -1rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: 600;
}

.notice--box.notice--box--info::before {
  content: 'note';
  background: var(--info);
}

.notice--box.notice--box--warning::before {
  content: 'warning';
  background: var(--warning);
}
/* END */

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  border: 3px dashed var(--container-border);
  height: 100%;
  overflow: hidden;
}

.card:hover {
  border-color: var(--text-color);
}

.card img {
  aspect-ratio: 16/9;
  object-fit: cover;
  user-select: none;
}

.card--link {
  text-decoration: none;
  color: var(--text-color);
}

.card * {
  margin: 0;
  padding: 0;
  text-align: left;
}

.card .card--content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1em;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 1.15em;
  }
  .nav--list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
  }
  .home--grid {
    grid-template-columns: 1fr;
  }
  .post--meta {
    width: auto;
  }
  .cards {
    grid-template-columns: 1fr;
  }
  .card img {
    aspect-ratio: 16/7;
    object-fit: cover;
  }
}